 

body {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans";
}

body .hero .containe {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
 .nav {
  width: 100%;
  height: 80px;
  /* display: flex; */
  justify-content: space-between;
}
 .nav .logo img {
  width: 15.25rem;
  height: 7.375rem;
}
 .nav .menu {
  display: flex;
  align-items: center;
}
 .nav .menu .menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 6.25rem;
}
 .nav .menu .menu-list li a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.menu-list li a {
color: white;

}
 
.nav .menu .menu-list .active  {
  @apply flex flex-row justify-start;
}

@screen lg {
  .nav .menu .menu-list .active {
    @apply flex flex-col justify-center items-center;
  
   
  
  }
}
.nav .menu .menu-list .active a {
  color: #CC0909;
}
 .nav .menu .menu-list .active::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #CC0909;
  border-radius: 50%;
  color: none;
}



 .icon {
   @apply w-10 h-10 bg-[white] flex items-center justify-center p-[3px] rounded-[50%];

}


body .hero .containe .content .text .social .icon img {
 @apply  w-10;
}
body .hero .containe .content .text p {
  font-family: "Open Sans";

}
body .hero .containe .content .text button {
 @apply text-[#CC0909] text-right  not-italic font-semibold leading-[normal]  rounded-[50px] border-2 border-solid border-[#CC0909];
  background: transparent;
  font-family: "Open Sans";
}


body .hero .containe .content .view-more {
  @apply w-full flex flex-col justify-center items-center pt-[12.938rem];

}
body .hero .containe .content .view-more img {
   @apply w-[200px] h-[50px];
}
body .hero .containe .content .view-more a {
  @apply text-white text-center not-italic font-normal leading-[normal] no-underline;
  font-family: "Open Sans";
}


.box{
    @apply w-full bg-cover bg-no-repeat flex flex-col items-center box-border ;

}

.sideBar{
   @apply  box-border  flex flex-col ml-[2.875rem]  border-solid;
 
}

.sidebar-right-aligned{
  @apply  box-border  flex flex-col  items-end mr-[2rem] border-r-[3px] border-r-[#CC0909] pr-5 ;
}
.sidebar-left-aligned{
  @apply  box-border  flex flex-col  ml-[2rem] border-l-[3px] border-l-[#CC0909] pl-5 ;
}

.right-text{
  @apply text-right;
}





body .beauty {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.69) 100%), url("/images/beauty.webp");
  @apply box;
}
.container {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #CC0909;
    height: 100%;
  display: flex;
  flex-direction: column;
}
.content-col {
  width: 500px;
  height: 100%;
}
.beauty .container .content-col .side-border {
  @apply sideBar;
  justify-content: start;

}
.container .content-col .side-border .top-bar {
  height: 2px;
 
  background-color: #CC0909;

}
 .container .content-col .side-border h2 {
   @apply text-white text-left  not-italic font-semibold leading-[normal] m-0 mt-2;
  font-family: "Open Sans";
}
.container .content-col .side-border p {
   @apply text-white not-italic font-light leading-[normal] m-0 ;
  font-family: "Open Sans";
}





body .potrait {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.69) 100%), url("/images/potrait.webp");
   @apply box;
}

body .fashion {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/images/fashion.webp");
  @apply box;
}

body .fashion .container .content-col .side-border {

   @apply sideBar;
  
}
body .meeting {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/images/meeting.webp");
   @apply box;
}
body .meeting .container .content-col .side-border {

  @apply sideBar;
 
}


body .people {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/images/people.webp");
   @apply box;
}

body .people .container .content-col .side-border {

   @apply sideBar;
 
}


body .product {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.8) 100%), url("/images/product.webp");
  @apply box;
}


body .couple {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url("/images/couple.webp");
   @apply box;
}

body .couple .container .content-col .side-border {

  @apply sideBar;
  
}






body .nature {
  
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.89) 100%), url("/images/nature.webp");
@apply box;
}

body .nature .container .content-col .side-border {

   @apply sideBar;
  

}
body .birthdays {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.89) 100%), url("/images/birthdays.webp");
   @apply box;
}

body .birthdays .container .content-col .side-border {

   @apply sideBar;
 
}



body .footer .content .back-to-top a {

  font-family: "Open Sans";
  
}

.footer-col {
  @apply flex flex-col box-border flex-1  py-0;
  justify-content: start;
}
.footer-col h2 {
  @apply text-white text-[4rem] not-italic font-bold leading-[normal] m-0 ;
  font-family: "Open Sans";
}
.footer-col p {
  @apply text-white  not-italic font-normal leading-[normal] w-64 m-0;
  font-family: "Open Sans";
}

body .footer .content button {
   @apply text-[#CC0909] text-right  not-italic font-semibold leading-[normal] px-[2.813rem] py-[1.125rem] rounded-[50px] border-2 border-solid border-[#CC0909];
  background: transparent;
  font-family: "Open Sans";
}

/*# sourceMappingURL=styles.css.map */


/* Add these styles to your global CSS or inline styles */
.tag {
  display: inline-block;
  padding: 0.1rem 0.3rem;
  margin: 0.25rem;
  border-radius: 999px;
  font-size: 0.675rem;
  font-weight: 600;
}

.tag-high-priority {
  background-color: #ffcccc; /* Red color for high priority */
  /* color: #fff; */
  color:red;
}

.tag-normal {
  background-color: #b6f8b9; /* Green color for normal priority */
  color: green
}
